
header h1 a {
    margin-left: 1em;
}

.cart{
    width:40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: relative;
    background-color: #ecf7ee;
    color: #DF5A17;
    z-index: 1000;
    margin-right: 1em;
}

.cart span{
    position: absolute;
    top: -7px;
    right: -7px;
    width:20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #ffffff;
    font-size: 0.6rem;
    font-weight: 500;
    background-color: #DF5A17;
}

.toggle{
    margin-right: 2em;
}

.searchbar{
    display: flex;
    justify-content: center;
    position: relative;
}
.searchbar img{
    width: 90%;
    height: auto;
    max-height: 500px;
    border-radius: 30px;
    object-fit: cover;

}
#search-bar-text{
    position: absolute;
    max-width: 400px;
    height: auto;
    color: white;
    left: 10%;
    top: 40%;
}

#search-bar-text p{
    font-weight: 200;
    margin-top: 0;
}
#search-bar-text h1{
    margin-bottom: 0;

}

@media(max-width: 690px){
    #search-bar-text{
        max-width: 200px;
    }
    #search-bar-text p{
        display: none;
    }
    #search-bar-text h1{
        font-size: medium;
        margin-bottom: 30px;
        
    }

    
}

#searchbar{
    height: 50px;
    display: flex;
    padding: 0px 5px 0px 20px;
    border-radius: 20px;
   border-style: hidden;
}
#searchbar:focus{
    outline: none;
}

#category, #restaurants
{
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 50px auto;
}
.heading
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading h2{
    font-size: 1.56rem;
    font-weight: 700;
    color: #202020;
    letter-spacing: 0.5px;
}
.heading span{
    color: #a7a7a7;
    font-weight: 400;
    letter-spacing: 1px;
}
.category-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}
.category-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fafafa;
    border-radius: 10px;
    min-height: 130px;
    width: 120px;
    border: 1px solid rgba(0,0,0,0.03);
}
.category-box img{
    height: 35px;
    width: 50px;
    object-fit: contain;
    object-position: center;
    transition: all ease 0.1s;
}
.category-box span{
    color: #393939;
    font-size: 0.8rem;
    margin-top: 20px;
    letter-spacing: 0.3px;
    font-weight: 600;
}
.category-box:hover img{
    transform: scale(1.1);
    transition: all ease 0.1s;
}

#restaurants-container{
    display: flex;
    align-items: center;
    margin-top: 40px;
    flex-wrap: wrap;
    margin-left: 7%;
}

.rest{
    margin: 20px;
    line-height: 0.5em;
}

.rest p:last-of-type{
    font-weight: 200;
}

.rest .restaurant{
    font-size: x-large;
    color: black;

}

.crop{ 
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 1.5em;
}

.crop img {
    width: 250px;
    height: 150px;
    border-radius: 10px;
    vertical-align: middle;
}
.crop img:hover{
    transform: scale(1.1);
    transition: all ease 0.1s;
}


