@import url('https://fonts.googleapis.com/css?family=Poppins:500,300');

*{
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100%;
}

.mainpage {
    overflow: hidden;
}


header {
    padding: 1em;
    display: flex;
    align-items: center; /* Alinhamento na vertical*/
    justify-content: space-between; /*Alinhamento na horizontal*/
}

a{
    text-decoration: none; /*remove underline e visited-color from link*/
    color: #DF5A17;
}

.logo{
    margin-left: 3em;
    margin-top: 0em;
    padding-top: 0em;
    transform: scale(70%);
    z-index: 0;

}


.toggle{
    width: 50px;
    height: 50px;
    background: url(../IMAGES/menu.png);
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 9999;
    margin-right: 4em;
    margin-top: 2em;
    margin-left: auto;
    margin-bottom: 2em;
}

.toggle.active{
    background: url(../IMAGES/close.png);
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
}

.menu{  
    list-style-type: none; /*remove dots from list*/
    z-index: 9999;
    position: absolute;

    text-align: center;

    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    top: 15%;


    transform: translateX(100%);
    transition: 0.5s;
}

.menu a{
    color: #DF5A17;
    z-index: 9999;
    font-size: 3em;
    font-weight: bold;

    line-height: 80px;
}


.menu_element.grey{
    color: #e9e9e9;
}



.sidebar{
    position: fixed;
    background-color: white;
    width: 100%;
    height: 100%;
    padding: 50%;
    z-index: 1;
    right: -200%;
    transition: 0.5s;

}

.sidebar.active{
    transition: 0.5s;
    right: 0;
}

.menu.active{
    transition: 0.5s;
    transform: translateX(0%);
}


.text{
    width: 40em;
    transform: translateY(-20%);
}

.content{
    margin-left: 5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.foodimage{
    transform: translateX(3em);
}

.fadein{
    animation: fadeIn ease 0.5s;
}

.fadeout{
    animation: fadeOut ease 0.5s;
}

@keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}

@keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
}

.content ul {
    padding-right: 2em;
    list-style-type: none;
    line-height: 3em;
}

.content ul img{
    transform: scale(70%);
    filter: invert(1);
}

.facebook{
    transform: translate(0.5em);
}

.text h1{
    font-size: 3em;
    line-height: 1em;
    position: relative;
    overflow: hidden;
}

span{
    font-size: 2em;
    color: #df5a17;
    line-height: 0;
    position: absolute;
    left: 1.4em;
    display: none;

}

span.text-in{
    display: block;
	animation: textIn .8s ease;
    transform: translateY(-0.45em);
}
span.text-out{
	animation: textOut .8s ease;
    transform: translateY(-1em);
}

@keyframes textIn{
	0%{
		transform: translateY(0em);
	}
	100%{
		transform: translateY(-0.45em);
	}
}
@keyframes textOut{
	0%{
		transform: translateY(-0.45em);
	}
	100%{
		transform: translateY(-1em);

	}
}

.text p{
    margin-top: 1em;
    margin-bottom: 1em;
}

.text a{
    color: white;
    background-color:#df5a17;
    margin-top: 1em;
    border-top: 1em;
    padding-right: 0.9em;
    padding-left: 0.9em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    border-radius: 3em;
}

.circle{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #df5a17;
    clip-path: circle(600px at right bottom);
    z-index: -1;
}


