/* Porto Eats*/
header h1 a {
    margin-left: 1em;
}



.ProfilePage {
	display: flex;
	justify-content: center;

	flex-direction: column;
	height: 70vh;

    margin: auto;
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 500px;
	max-width: 100%;
	min-height: 480px;
}

.ProfilePage form{
    display: flex;
    flex-direction: column;
	justify-content: center;
}

.ProfilePage li, .ProfilePage h1,  .ProfilePage form, .ProfilePage input{
    margin-left: auto;
    margin-right: auto;
}

.ProfilePage button, input[type="submit"][value="Log out"] {
	border-radius: 20px;
	border: 1px solid #DF5A17;
	background-color: #DF5A17;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
    margin-top: 0.5em;
    cursor: pointer;
}

input[type="submit"][value="Log out"]:active {
	transform: scale(0.95);
}

.ProfilePage a, input[type="submit"][value="Edit information?"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
    font-weight: 200;
	outline: inherit;
    cursor: pointer;
}

.ProfilePage ul{
    margin-top: 3em;
    margin-bottom: 3em;
}

.ProfilePage img{
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: auto;
}

.ProfilePage li{
    font-weight: 200;
    line-height: 2em;
}
.ProfilePage span{
    font-weight: 400;
}


p{
    margin-left: auto;
    margin-right: auto;

}

input[type="text"], input[type="password"]{
	background-color: #EEEEEE;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
    transform: translateX(-1em);
}

input[type="password"]{
    margin-bottom: 5em;
}